<div id="home-container">
  <div class="card text-center" style="width: 30%;">
    <div class="card-body">
      <h3 class="card-title">Hola!!!</h3>
      <p class="card-text">¿Que tál tu último viaje? Cuentanos!
      </p>
      <a href="/facebook" class="btn btn-primary">
        Login with
        <i class="fab fa-facebook-f"></i>
      </a>
      {{!-- <a href="/google" class="btn btn-danger"> --}}
        {{!-- Login with --}}
        {{!-- <i class="fab fa-google"></i> --}}
      </a>
    </div>
  </div>



