<form  style="position: relative;" id="newtrip" action="/trips" method="post">

    <input type="text" name="title" placeholder="PLACE THAT YOU VISIT">
    <br>
    <input type="text" name="genre" placeholder="LUGAR DIA Y FECHA">
    <br>
    <input type="text" name="plot" placeholder="DESCRIPTION">
    <br>
    <button type="submit">Create</button>



<img src="https://static.vecteezy.com/system/resources/previews/000/536/997/non_2x/hand-drawn-text-travel-more-vector-inspirational-lettering-design-for-posters-flyers-t-shirts-cards-invitations-stickers-banners-brush-pen-modern-calligraphy-isolated-on-a-white-background.jpg" style="position: relative;" alt="">
</form>